.topCont,
.descriptionCont {
  background-color: #f7f5fa;
}

.previewCont {
  background-image: url('./pc.png');
  height: 400px;
  min-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.insideDescr {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.605) 0%, rgba(255, 255, 255, 0) 30%);
  background-color: rgba(0, 0, 0, 0.605);
  height: 400px;
  min-width: 100%;
}

.textBox {
  min-width: 100px;
}

.infoCont {
  color: white;
}

.orange {
  background-color: #ff5617;
}

.processorPic {
  background-image: url('./intel.png');
  height: 50px;
  width: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
