body {
  z-index: 0;
}

.delete-computer {
  text-align: left;
  background-color: rgba(186, 255, 180, 0.619);
  padding: 0.5rem;
}

.delete-l {
  /* display: flex; */
  justify-content: space-between;
}

.delete {
  display: none;
}

.red-button {
  background-color: red;
  border: none;
}

/*
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(58, 56, 56);
}
.hover-me {
  text-decoration: none;
  border: 3px solid yellow;
  color: transparent;
  padding: 40px 80px;
  font-size: 28px;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 0.5s;
  position: relative;
}
.hover-me:before {
  content: "Hover Me";
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
  background: rgb(34, 34, 34);
  font-size: 28px;
  top: 0;
  left: 100%;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(0) rotatey(0);
  opacity: 0;
}
.hover-me:hover:before {
  transform: scale(1) rotatey(360deg);
  left: 0;
  opacity: 1;
}
.hover-me:after {
  content: "Hover Me";
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
  background: rgb(34, 34, 34);
  font-size: 28px;
  top: 0;
  left: 0;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(1) rotatey(0);
  opacity: 1;
}
.hover-me:hover:after {
  transform: scale(0) rotatey(360deg);
  left: -100%;
  opacity: 0;
} */


/* Fill button styling */
.fill {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
}

.fill:hover {
  color: white;
  font-size: x-large;
}

.fill::after {
  content: "";
  background-color: #ff1700;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.fill:hover::after {
  top: 0px;
  left: 0px;
}