body {
  background: rgb(240,239,244);
  background: linear-gradient(365deg, rgba(240,239,244,1) 0%, rgba(255,255,255,1) 56%);
}

.home {
  height: 100vh;
}

.home-nav {
  display: flex;
  justify-content: space-between;
}

.computer-item:hover {
  transform: scale(1.1);
}

.computers-container {
  display: flex;
  /* overflow-x: auto; */
  height: 600px;
}

.wrapper::-webkit-scrollbar {
  width: 0;
}

.img-background {
  height: 225px;
  min-width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  border: none !important;
  height: 600px;
  box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.40);
-webkit-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.40);
-moz-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.40);
}

.card-body {
  width: 350px;
  padding: 0 0 1rem 0!important;
}

.computer-information {
  display: flex;
  font-size: smaller;
  text-align: left;
}

.computer-info {
  font-size: large;
}

.computer-price {
  padding-right: 1rem!important;
}