.home-nav {
  display: flex;
  justify-content: space-between;
}

.computer-item:hover {
  transform: scale(1.1);
}

.computers-container {
  display: flex;
  overflow-x: auto;
  height: 600px;
}

.wrapper::-webkit-scrollbar {
  width: 0;
}

.img-background {
  height: 150px;
  min-width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  border: none !important;
}

.card-body {
  width: 270px;
  padding: 0 0 1rem 0!important;
}

.computer-information {
  display: flex;
  font-size: smaller;
  text-align: left;
}
