.logName,
.submitBtn {
  border-radius: 1rem;
}

.submitBtn {
  margin: auto;
  color: white;
  background-color: #ff5617;
  border: #ff5617;
  box-shadow: -1px -1px 16px 0 #ff5617;
  -webkit-box-shadow: -1px -1px 16px 0 #ff5617;
  -moz-box-shadow: -1px -1px 16px 0 #ff5617;
}
